html, body
{
  height: 100%;
}
body
{
  background-image: url("/firefox-wallpaper-firefox-404961_1280_9602.jpg");
  color: #fff;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Lucida Grande,Helvetica,Helvetica Neue,sans-serif;
}
.app-icon
{
  padding: 10px;
  width: 60px;
  height: 60px;
  transition: 0.3s;
}
.app-icon.selected
{
  opacity: 0.5;
  width: 100px;
  height: 100px;
}
.container
{
  font-family: Lucida Grande,Helvetica,Helvetica Neue,sans-serif;
  text-align: center;
}
.container h1
{
  font-size: 36px;
  margin-bottom: 10px;
}
.container h2
{
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.container img
{
  width: 80px;
  height: 80px;
}
.angular-coverflow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  perspective-origin: 0 0;
  transform: translateZ(0px);
  transform-origin: 0 0;
  transform-style: flat;
}
.angular-coverflow-item {
  position: absolute;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
