<!DOCTYPE html>
<html lang="en" ng-app="zwipe" ng-csp>
<head>
  <meta charset="utf-8" />
  <meta name='HandheldFriendly' content='True' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <meta http-equiv="pragma" content="no-cache" />
  <title>Zwipe</title>
  <link rel="stylesheet" href="css/angular-csp.css" />
  <link rel="stylesheet" href="css/app.css" />

  <script src="js/angular.min.js"></script>
  <script src="js/angular-touch.min.js"></script>
</head>
<body ng-controller="ZwipeCtrl">
  <div class="container" ng-click="apps[selected].launch()">
    <h1>{{apps[selected].name}}</h1>
    <img src="{{apps[selected].iconUrl}}" />
  </div>

  <div id="spinner" class="angular-coverflow">
    <div class="angular-coverflow-item app-icon" ng-style="appStyle($index, apps.length)" ng-repeat="app in apps">
      <img src="{{app.iconUrl}}" style="width: 70px; height:70px"/>
    </div>
  </div>
  <script src="js/app.js"></script>
</body>
</html>
